html {
	height: 100%;
	margin: 0;
	padding: 0; }

body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

#filter-container {
	padding: 1em;
	width: 15%;
}

#filter-list {
    list-style-type: none;
    padding-left: 0;
}

.filter-item {
	margin-bottom: 5%;	
	border-bottom:  solid;
	border-width: 2px;
	border-color: white;
	padding: 2px;
	cursor: pointer;
}

.active-marker { 
	margin-bottom: 5%;	
	border-bottom:  solid;
	border-width: 2px;
	border-color: green;
	background-color: green;
	color: white;
	padding: 2px;
	cursor: pointer;
 }

.filter-items:hover {
	border-color: green;
} 


#map {
	height: 100%;
	width: 100%;
}
